---
layout: page
title: CI CoE Pilot - Software
permalink: /materials/deployments_software
---

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 space">
                <div class="section-title">
                    <h2>Deployments and Software</h2>
                </div>
                <div style="margin-top:3em">
                    {% for n in site.data.deployments_software %}
                    <div class="software">
                        <strong>
                            {% if n.link.size > 0 %}
                            <a href="{{ n.link }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                            {% endif %}
                            {% if n.github_link.size > 0 %}
                            <a href="{{ n.github_link }}" target="_blank"><i class="fab fa-github"></i></a>
                            {% endif %}
                            {{ n.title }}
                        </strong>
                        <br/>
                        <span style="color: #666">{{ n.desc }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
