---
layout: page
title: CI CoE Pilot
permalink: /
---

<!-- Service Start -->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12" style="padding-right: 4em">

                <!--                <div class="col-md-12" style="padding: 0; padding-right: 0.5em">-->
                <!--                    <div class="alert-info" style="min-height: 8em; padding: 1em; padding-left: 2em">-->
                <!--                        <div style="margin: auto; float: left; width: 200px">-->
                <!--                            <a href="https://cics-workshop.org" target="_blank">-->
                <!--                                <img src="img/news/cics-workshop.png" style="max-height: 6em"/>-->
                <!--                            </a>-->
                <!--                        </div>-->
                <!--                        <div style="font-size: 1em; margin-left: 1em; padding-top: 0.5em">-->
                <!--                            <p>-->
                <!--                                <strong>2020 Cyberinfrastructure/Cybersecurity Workshop</strong>-->
                <!--                            </p>-->
                <!--                            <p>-->
                <!--                                August 18 and August 20, 2020<br/>-->
                <!--                                <a href="https://cics-workshop.org" target="_blank">-->
                <!--                                    https://cics-workshop.org-->
                <!--                                </a>-->
                <!--                            </p>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="col-sm-12 col-md-12 section-title">
                    <h3>Mission</h3>
                    <p style="text-align: left; line-height: 1.4em">
                        CI CoE provides expertise and active support to cyberinfrastructure practitioners at NSF Major
                        Facilities in order to accelerate the data lifecycle and ensure the integrity and effectiveness
                        of the cyberinfrastructure upon which research and discovery depends.
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="service-item">
                            <i class="ion-ios-people"></i>
                            <p>Platform for knowledge sharing and community building</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="service-item">
                            <i class="ion-social-codepen"></i>
                            <p>Key partner for the establishment and improvement of Major Facilities with advanced CI
                                architecture designs
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="service-item">
                            <i class="ion-android-apps"></i>
                            <p>Grounded in re-use of dependable CI tools and solutions</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="service-item">
                            <i class="ion-leaf"></i>
                            <p>Forum for discussions about CI sustainability and workforce development and training</p>
                        </div>
                    </div>
                </div>

                <!-- JOB LISTINGS -->
                <div class="col-sm-12 col-md-12 section-title">
                    <div class="job" style="text-align: left">
                        <h3><i class="fas fa-briefcase"></i> Job Listings</h3>
                        <div class="event-category">From the community</div>
                        <div style="overflow: auto; max-height: 13em; background-color: #fcfcfc; padding: 0.5em; margin-bottom: 0.5em">
                            {% if site.data.job_listings.size > 0 %}
                            {% assign jobs = site.data.job_listings | sort: 'date' | reverse %}
                            {% for j in jobs %}
                            <div class="job-list">
                                <div class="job-summary">
                                    <span style="color: #999; font-size: 0.8em">[{{ j.date | date: "%b %d, %Y" }}]</span>
                                    <a href="/jobs"><strong>{{ j.title }}</strong></a><br/>
                                    {{ j.institution }}
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-sm-12" style="padding-top: 2em">
                <a class="twitter-timeline" data-lang="en" data-height="44em" data-width="100%" data-theme="light"
                   href="https://twitter.com/ci_coe?ref_src=twsrc%5Etfw">Tweets by ci_coe</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

        </div>

    </div>
</section>

<section>
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>


<!-- Wrapper Start -->
<section id="intro" style="background-color: #f7f7f7">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="testimonial col-md-12">
                    <h3>Testimonials</h3>
                    <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#testimonialCarousel" data-slide-to="1"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active" style="max-height: 40em; overflow: auto">
                                <blockquote>
                                    <img src="img/people/bonan.jpg"/>
                                    Overall, the CI CoE was very proactive in enabling and advancing constructive
                                    conversations
                                    during the development of the NCAR-NEON cyberinfrastructure technical plan and in
                                    providing
                                    feedback that improved the quality of the plan. The CI CoE facilitated weekly
                                    telecons among
                                    NCAR, NEON, and the CI CoE to discuss the proposed project and to provide guidance.
                                    Discussions
                                    during the telecom were mostly high level, helping to identify needs and priorities
                                    for the
                                    cyberinfrastructure collaborations, but also identifying gaps in the technical plan
                                    as well as
                                    providing overviews of various alternative implementation strategies. The
                                    discussions were always
                                    constructive, collaborative, and respectful of all participants. The CI CoE also
                                    undertook written
                                    feedback on the technical plan at several stages of development. Again, the comments
                                    were constructive
                                    and improved the quality of the final document. The CI CoE’s engagement was critical
                                    to preparing
                                    the final technical plan, in part because of the CI CoE’s familiarity with NEON’s
                                    data
                                    cyberinfrastructure, but also as external computer science experts familiar with the
                                    computational
                                    needs of the modeling (NCAR) and the data (NEON) and serving to bridge the two
                                    different areas
                                    of expertise.
                                </blockquote>
                                <span><i>– Gordon Bonan, National Center for Atmospheric Research (NCAR)</i></span>
                            </div>

                            <div class="item">
                                <blockquote>
                                    <img src="img/people/tom-gulbransen.png"/>
                                    The CI CoE had four types of profound influence on NEON developers. First, as we
                                    transitioned
                                    from construction to operations, our developers benefited from greater awareness of
                                    the wider
                                    NSF CI community practices. Second, deep engagement with CI CoE experts produced
                                    three major
                                    technologies insertions into NEON CI, remarkably within 6 months. Third, open dialog
                                    and
                                    prototyping with CI CoE experts affirmed our workflow-based sensor message handling
                                    strategy and
                                    built our confidence to invest in this novel method. NEON's CI and Data Sciences
                                    team mission
                                    includes advancing methods and ecological science; interaction with CI CoE nudged
                                    our efforts
                                    ahead significantly through community workgroup involvement, presentations and
                                    publications.
                                </blockquote>
                                <span><i>– Tom Gulbransen, NEON</i></span>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#testimonialCarousel" data-slide="prev">
                            <span class="fas fa-arrow-left"
                                  style="color: black; float: left; padding-left: 0.5em"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#testimonialCarousel" data-slide="next">
                            <span class="fas fa-arrow-right" style="color: black"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="training">
                    <div class="event-category">
                        From the Community
                    </div>
                    <div>
                        <h3><i class="fas fa-chalkboard-teacher"></i> Training Opportunities</h3>
                        <div style="position: absolute; top: 4em; right: 5em; background-color: #fff; padding-left: 0.5em">
                    </div>
                    <div class="training-block">
                        {% assign training_items = site.data.training_opportunities %}
                        {% for n in training_items %}
                        <a href="{{ n.website }}" target="_blank">
                            <div class="training-item">
                                <div class="training-date">
                                    <div class="start">
                                        {{ n.start_date | date_to_string | slice: 3,3 }}
                                        {{ n.start_date | date_to_string | slice: 0,2 }}
                                        {{ n.start_date | date_to_string | slice: 7,4 }}
                                    </div>
                                    <div class="end">
                                        {{ n.end_date | date_to_string | slice: 3,3 }}
                                        {{ n.end_date | date_to_string | slice: 0,2 }}
                                        {{ n.end_date | date_to_string | slice: 7,4 }}
                                    </div>
                                </div>
                                <span style="color: #777; font-size: 0.8em">[{{ n.categroy }}]</span>
                                {{ n.title }}
                                <p style="color: #999; font-size: 0.7em; line-height: 1.5em">Source: {{ n.source }}</p>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service">
    <div class="container">
        <div class="section-title">
            <h3>NSF Abstract</h3>
        </div>
        <div class="row" style="text-align: left; color: #666; font-size: 1em">
            <div class="col-md-6 col-sm-12">
                <div class="block">
                    <p style="line-height: 1.5em">
                        NSF's major multi-user research facilities (major facilities) are sophisticated research
                        instruments and platforms - such as large telescopes, interferometers and distributed sensor
                        arrays - that serve diverse scientific disciplines from astronomy and physics to geoscience and
                        biological science. Major facilities are increasingly dependent on advanced cyberinfrastructure
                        (CI) - computing, data and software systems, networking, and associated human capital - to
                        enable broad delivery and analysis of facility-generated data. As a result of these cyber
                        infrastructure tools, scientists and the public gain new insights into fundamental questions
                        about the structure and history of the universe, the world we live in today, and how our plants
                        and animals may change in the coming decades. The goal of this pilot project is to develop a
                        model for a Cyberinfrastructure Center of Excellence (CI CoE) that facilitates community
                        building and sharing and applies knowledge of best practices and innovative solutions for
                        facility CI.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="block">
                    <p style="line-height: 1.5em">
                        The pilot project will explore how such a center would facilitate CI improvements for existing
                        facilities and for the design of new facilities that exploit advanced CI architecture designs
                        and leverage establish tools and solutions. The pilot project will also catalyze a key function
                        of an eventual CI CoE - to provide a forum for exchange of experience and knowledge among CI
                        experts. The project will also gather best practices for major facilities, with the aim of
                        enhancing individual facility CI efforts in the broader CI context. The discussion forum and
                        planning effort for a future CI CoE will also address training and workforce development by
                        expanding the pool of skilled facility CI experts and forging career paths for CI professionals.
                        The result of this work will be a strategic plan for a CI CoE that will be evaluated and refined
                        through community interactions: workshops and direct engagement with the facilities and the
                        broader CI community.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
