---
layout: page
title: CI CoE Pilot
permalink: /
---

<!-- Service Start -->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12" style="padding-right: 4em">

                <!--                <div class="col-md-12" style="padding: 0; padding-right: 0.5em">-->
                <!--                    <div class="alert-info" style="min-height: 8em; padding: 1em; padding-left: 2em">-->
                <!--                        <div style="margin: auto; float: left; width: 200px">-->
                <!--                            <a href="https://cics-workshop.org" target="_blank">-->
                <!--                                <img src="img/news/cics-workshop.png" style="max-height: 6em"/>-->
                <!--                            </a>-->
                <!--                        </div>-->
                <!--                        <div style="font-size: 1em; margin-left: 1em; padding-top: 0.5em">-->
                <!--                            <p>-->
                <!--                                <strong>2020 Cyberinfrastructure/Cybersecurity Workshop</strong>-->
                <!--                            </p>-->
                <!--                            <p>-->
                <!--                                August 18 and August 20, 2020<br/>-->
                <!--                                <a href="https://cics-workshop.org" target="_blank">-->
                <!--                                    https://cics-workshop.org-->
                <!--                                </a>-->
                <!--                            </p>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="col-sm-12 col-md-12 section-title">
                    <a href="https://zenodo.org/record/4587866#.YErqni1h1B0" target="_blank">
                        <img src="/img/cicoe-blueprint.png" style="max-width: 100%; border-radius: 1em"/>
                    </a>
                </div>

                <div class="col-sm-12 col-md-12 section-title mission">
                    <h3><i class="fas fa-poll-h"></i> Mission</h3>
                    <p style="font-style: normal; line-height: 1.2em; margin-bottom: 1em">
                        CI CoE provides expertise and active support to cyberinfrastructure practitioners at
                        NSF Major Facilities in order to accelerate the data lifecycle and ensure the integrity and
                        effectiveness of the cyberinfrastructure upon which research and discovery depends.
                    </p>

                    <div class="col-sm-12 col-md-6">
                        <div class="service-item">
                            <i class="ion-ios-people"></i>
                            <p>Platform for knowledge sharing and community building</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="service-item">
                            <i class="ion-android-apps"></i>
                            <p>Grounded in re-use of dependable CI tools and solutions</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="service-item">
                            <i class="ion-social-codepen"></i>
                            <p>Key partner for the establishment and improvement of Major Facilities with
                                advanced
                                CI
                                architecture designs
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="service-item">
                            <i class="ion-leaf"></i>
                            <p>Forum for discussions about CI sustainability and workforce development and
                                training</p>
                        </div>
                    </div>
                    <p style="line-height: 0.5em">&nbsp;</p>
                </div>

                <!-- JOB LISTINGS -->
                <div class="col-sm-12 col-md-12 job">
                    <h3><i class="fas fa-briefcase"></i> Job Listings</h3>
                    <div class="event-category" style="right: 0">From the community</div>
                    <div style="overflow: auto; max-height: 13em; padding: 0.5em; margin-bottom: 0.5em">
                        {% assign jobs = site.data.job_listings | where: "active", true | sort: 'date' | reverse
                        %}
                        {% if jobs.size > 0 %}
                        {% for j in jobs %}
                        <a href="/jobs" class="job-list">
                            <span style="color: #999; font-size: 0.8em">[{{ j.date | date: "%b %d, %Y" }}]</span>
                            <strong>{{ j.title }}</strong><br/>
                            <span style="color: #666; font-size: 0.8em">{{ j.institution }}</span>
                        </a>
                        {% endfor %}
                        {% else %}
                        <div class="job-list-no">
                            If you have a job opportunity that you’d like to share with the CI community, we can
                            help! Please send a link to the post to
                            <a href="mailto:cicoe-pilot@isi.edu?subject=Job posting for CI CoE website">cicoe-pilot@isi.edu</a>
                            (or use the yellow Feedback tab on this page).
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-sm-12 twitter-box">
                <a class="twitter-timeline" data-lang="en" data-height="50em" data-width="100%" data-theme="light"
                   href="https://twitter.com/ci_coe?ref_src=twsrc%5Etfw">Tweets by ci_coe</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

        </div>

    </div>
</section>

<section>
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>


<!-- Wrapper Start -->
<section id="intro" style="background-color: #f7f7f7">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="testimonial col-md-12">
                    <h3>Testimonials</h3>
                    <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#testimonialCarousel" data-slide-to="1"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active" style="max-height: 40em; overflow: auto">
                                <blockquote>
                                    <img src="img/people/bonan.jpg"/>
                                    Overall, the CI CoE was very proactive in enabling and advancing constructive
                                    conversations
                                    during the development of the NCAR-NEON cyberinfrastructure technical plan and in
                                    providing
                                    feedback that improved the quality of the plan. The CI CoE facilitated weekly
                                    telecons among
                                    NCAR, NEON, and the CI CoE to discuss the proposed project and to provide guidance.
                                    Discussions
                                    during the telecom were mostly high level, helping to identify needs and priorities
                                    for the
                                    cyberinfrastructure collaborations, but also identifying gaps in the technical plan
                                    as well as
                                    providing overviews of various alternative implementation strategies. The
                                    discussions were always
                                    constructive, collaborative, and respectful of all participants. The CI CoE also
                                    undertook written
                                    feedback on the technical plan at several stages of development. Again, the comments
                                    were constructive
                                    and improved the quality of the final document. The CI CoE’s engagement was critical
                                    to preparing
                                    the final technical plan, in part because of the CI CoE’s familiarity with NEON’s
                                    data
                                    cyberinfrastructure, but also as external computer science experts familiar with the
                                    computational
                                    needs of the modeling (NCAR) and the data (NEON) and serving to bridge the two
                                    different areas
                                    of expertise.
                                </blockquote>
                                <span><i>– Gordon Bonan, National Center for Atmospheric Research (NCAR)</i></span>
                            </div>

                            <div class="item">
                                <blockquote>
                                    <img src="img/people/tom-gulbransen.png"/>
                                    The CI CoE had four types of profound influence on NEON developers. First, as we
                                    transitioned
                                    from construction to operations, our developers benefited from greater awareness of
                                    the wider
                                    NSF CI community practices. Second, deep engagement with CI CoE experts produced
                                    three major
                                    technologies insertions into NEON CI, remarkably within 6 months. Third, open dialog
                                    and
                                    prototyping with CI CoE experts affirmed our workflow-based sensor message handling
                                    strategy and
                                    built our confidence to invest in this novel method. NEON's CI and Data Sciences
                                    team mission
                                    includes advancing methods and ecological science; interaction with CI CoE nudged
                                    our efforts
                                    ahead significantly through community workgroup involvement, presentations and
                                    publications.
                                </blockquote>
                                <span><i>– Tom Gulbransen, NEON</i></span>
                            </div>
                            <div class="item">
                                <blockquote>
                                    <img src="img/people/JeffGlatstein.png"/>
                                    CICoE has been a valuable resource for the Ocean Observatories Initiative CI
                                    function. Their topics are relevant to our needs and have provided beneficial input
                                    to help us reach our goals. I look forward to working with them in the future to
                                    continue to meet the unique challenges facing research computing.
                                </blockquote>
                                <span><i>– Jeff Glatstein, OOI</i></span>
                            </div>
                            <div class="item">
                                <blockquote>
                                    <img src="img/people/haverlack-240.jpg"/>
                                    During the 2020 U.S. Academic Research Fleet Identity Management (IdM) Engagement
                                    with CI CoE Pilot, I participated from a customer perspective looking for help
                                    solving a complex and custom Identity Management problem on behalf of the fleet. The
                                    CI CoE Pilot was able to provide access to subject matters expertise for consulting
                                    and testing. During the engagement we were able to successfully assess the problem
                                    scope, draft a recommended solution, and proof of concept test several components of
                                    that solution. Following the engagement we have been able to leverage the
                                    recommended solution and newly established relationships from the engagement to
                                    write a proposal that would implement a Federated Identity Management solution for
                                    the U.S. Academic Research Fleet. Our engagement with CI CoE Pilot has been
                                    instrumental in accelerating efforts to realize this much needed service.
                                </blockquote>
                                <span><i>– John Haverlack, College of Fisheries and Ocean Science, University of Alaska Fairbanks, U.S. Academic Research Fleet</i></span>
                            </div>

                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#testimonialCarousel" data-slide="prev">
                            <span class="fas fa-arrow-left"
                                  style="color: black; float: left; padding-left: 0.5em"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#testimonialCarousel" data-slide="next">
                            <span class="fas fa-arrow-right" style="color: black"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="training">
                    <div class="event-category">
                        From the Community
                    </div>
                    <h3><i class="fas fa-chalkboard-teacher"></i> Training Opportunities</h3>
                    <div style="position: absolute; top: 4em; right: 5em; background-color: #fff; padding-left: 0.5em">
                    </div>
                    <div class="training-block">
                        {% assign training_items = site.data.training_opportunities %}
                        {% for n in training_items %}
                        <a href="{{ n.website }}" target="_blank">
                            <div class="training-item">
                                <div class="training-date">
                                    <div class="start">
                                        {{ n.start_date | date_to_string | slice: 3,3 }}
                                        {{ n.start_date | date_to_string | slice: 0,2 }}
                                        {{ n.start_date | date_to_string | slice: 7,4 }}
                                    </div>
                                    <div class="end">
                                        {{ n.end_date | date_to_string | slice: 3,3 }}
                                        {{ n.end_date | date_to_string | slice: 0,2 }}
                                        {{ n.end_date | date_to_string | slice: 7,4 }}
                                    </div>
                                </div>
                                <div class="training-type">
                                    <span style="color: #777; font-size: 0.8em"><strong>{{ n.categroy }}</strong></span>
                                    <p style="color: #999; font-size: 0.7em; line-height: 1.5em">Source: {{ n.source }}</p>
                                </div>
                                {{ n.title }}
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</section>

<section id="service">
    <div class="container">
        <div class="section-title">
            <h3>Data Lifecycle within NSF Major Facilities</h3>
        </div>
        <div class="row" style="text-align: left; color: #666; font-size: 1em">
            <div class="col-md-5 col-sm-12">
                <div class="block" style="margin: 0">
                    <p style="line-height: 1.3em">
                        The CICoE Pilot project developed a data lifecycle (DLC) model that identifies specific stages
                        of the data flow within MFs – from scientific data collection to ultimate dissemination and use
                        of the data by scientists. The DLC model also captures the specific functions and services
                        offered at each DLC stage, the CI supporting each stage, and identifies CI and services that
                        span and impact multiple DLC stages. The DLC stages are composed of 1) data capture/collection,
                        2) data processing near the instrument(s), 3) data processing at a central location (data
                        center), 4) data storage, archiving, and curation, 5) data access, dissemination, and
                        visualization.
                    </p>
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="block">
                    <img src="/img/DLC-updated.jpg" width="100%"/>
                </div>
            </div>
        </div>
    </div>
</section>
