---
layout: page
title: CI CoE Pilot - Library
permalink: /materials/library
---

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 space">
                <div class="section-title">
                    <h2>Library</h2>
                </div>
                <div style="margin-top: 2em; margin-bottom: 1em">
                    The Library is a resource page for related reading materials ie papers, journals, and reports from
                    workshops.
                </div>
                <div class="col-md-12 col-sm-12 space" style="padding-top: 2em">
                    {% if site.data.library.size > 0 %}
                    {% for n in site.data.library %}
                    <div class="col-md-6 col-sm-6">
                        <div class="presentation" style="min-height: 3em">
                            <a href="{{ n.url }}" target="_blank"><strong>{{ n.title }}</strong></a><br/>
                            <p style="line-height: 1.3em; font-size: 0.9em">{{ n.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
