---
layout: page
title: CI CoE Pilot - NSF Major Facilities
permalink: /nsf_major_facilities/
---

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>NSF Major Facilities</h2>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2em">
            {% assign lf_items = site.data.lf | sort: 'name' %}
            {% for n in lf_items %}
            <div class="col-md-4 col-sm-12">
                <div class="lf" onclick="window.open('{{ n.website }}', 'new_window');">
                    <div class="content"
                         style="border-top: 0.4em solid {% if n.color %} #{{ n.color }} {% else %} #f0ad4e {% endif %}">
                        <p><strong>{{ n.name }}</strong></p>
                        <span class="dir">{{ n.directorate }}</span>
                        <span class="stage">{{ n.stage }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
