---
layout: page
title: CI CoE Pilot - People
permalink: /people/
---

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>People</h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h3>Participants</h3>
                <img src="/img/people/GroupZoom_010721.jpg" width="200" height="200">
                </div>
            </div>
            {% if site.data.participants.size > 0 %}
            {% for n in site.data.participants %}
            <div class="col-md-4 col-sm-12">
                <div class="participant">
                    <div class="img-participant">
                        <img src="/img/people/{{ n.photo }}">
                    </div>
                    <h4><a href="{{ n.website }}" target="_blank">{{ n.name }}</a></h4>
                    <h5>
                        {{ n.role }}<br/>
                        {{ n.institution }}
                    </h5>
                    <p>{{ n.description }}</p>
                    <div class="tooltip">
                        {{ n.description }}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h3>Advisory Committee</h3>
                </div>
            </div>
            {% if site.data.advisory.size > 0 %}
            {% for n in site.data.advisory %}
            <div class="col-md-3 col-sm-12">
                <div class="advisory">
                    <h4>{{ n.name }}</h4>
                    <h5>{{ n.institution }}</h5>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h3>Partner Projects</h3>
                </div>
            </div>
            {% if site.data.partners.size > 0 %}
            {% for n in site.data.partners %}
            <div class="col-md-4 col-sm-12">
                <div class="partner">
                    <h4><a href="{{ n.website }}" target="_blank">{{ n.name }}</a></h4>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
