---
layout: page
title: CI CoE Pilot - Presentations
permalink: /materials/presentations
---

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 space">
                <div class="section-title">
                    <h2>Presentations</h2>
                </div>
                <div class="col-md-12 col-sm-12 space" style="padding-top: 2em">
                    {% if site.data.presentations.size > 0 %}
                    {% for n in site.data.presentations %}
                    <div class="col-md-6 col-sm-6">
                        <div class="presentation"
                             style="border-left: 0.4em solid {% if n.color %} #{{ n.color }} {% else %} #ddcc00 {% endif %}">
                            <span style="color: #666; font-size: 0.8em"><strong>{{ n.date }}</strong></span><br/>
                            {% if n.video_link.size > 0 %}
                            <a href="{{ n.video_link }}"><i class="fab fa-youtube"></i></a>
                            {% endif %}
                            {% if n.file %}
                            <a href="/presentations/{{ n.file }}" target="_blank"><strong>{{ n.title }}</strong></a>
                            {% elsif n.presentation_link %}
                            <a href="{{ n.presentation_link }}" target="_blank"><strong>{{ n.title }}</strong></a>
                            {% else %}
                            <strong>{{ n.title }}</strong>
                            {% endif %}
                            <br/>
                            <span class="author"><i class="fas fa-user"></i> {{ n.author }}</span><br/>
                            {{ n.venue }}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

