---
layout: page
title: CI CoE Pilot - NSF Large Facilities
permalink: /presentations/
---

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Presentations</h2>
                </div>
            </div>
            {% if site.data.presentations.size > 0 %}
            {% for n in site.data.presentations %}
            <div class="col-md-6 col-sm-12">
                <div class="presentation">
                    <h4><a href="/presentations/{{ n.file }}" target="_blank">{{ n.title }}</a></h4>
                    <span class="author">{{ n.author }}</span><br />
                    {{ n.venue }}
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Posters</h2>
                </div>
            </div>
            {% if site.data.posters.size > 0 %}
            {% for n in site.data.posters %}
            <div class="col-md-6 col-sm-12">
                <div class="poster">
                    <h4><a href="/posters/{{ n.file }}" target="_blank">{{ n.title }}</a></h4>
                    {{ n.venue }}
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
