---
layout: page
title: CI CoE Pilot - Publications
permalink: /materials/publications
---

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 space">
                <div class="section-title">
                    <h1>Publications</h1>
                </div>
                <div class="material">
                    {% for n in site.data.publications %}
                    <div class="publication">
                        <strong>
                            {% if n.link.size > 0 %}
                            <a href="{{ n.link }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                            {% endif %}
                            {% if n.pdf.size > 0 %}
                            <a href="/publications/{{ n.pdf }}" target="_blank"><i class="fas fa-file-pdf"></i></a>
                            {% endif %}
                            {{ n.title }}
                        </strong><br/>
                        <span style="color: #666">{{ n.authors }}</span><br/>
                        {% if n.venue.size > 0 %}
                        <span style="color: #666">{{ n.venue }}</span><br/>
                        {% endif %}
                        <div style="background-color: #f7f7f7; padding: 1em; margin-top: 1em">
                            <span style="color: #999">{{ n.abstract }}</span>
                        </div>
                        {% if n.bibtex.size > 0 %}
                        <div style='background-color: #f2f2f2; padding: 1em; font-size: 0.8em; font-family: Menlo, Monaco, Consolas, "Courier New", monospace'>
                            {{ n.bibtex }}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12 col-sm-12 space" style="background-color: #f7f7f7">
                <div class="section-title">
                    <h3>Relevant publications from outside CICoE</h3>
                </div>
                {% if site.data.resources.size > 0 %}
                {% for n in site.data.resources %}
                <div class="material">
                    <ul>
                        <li><a href="{{ n.website }}" target="_blank">{{ n.title }}</a></li>
                    </ul>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

