---
layout: page
title: CI CoE Pilot - Software
permalink: /materials/software
---

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 space">
                <div class="section-title">
                    <h3>Software</h3>
                </div>
                <div class="material">
                    <ul>
                    {% for n in site.data.software %}
                    <li><b>{{ n.title }}</b><br />
                        <span style="color: #999">{{ n.desc }}</span>
                        {% if n.link.size > 0 %}
                        [<a href="{{ n.link }}" target="_blank">link</a>]
                        {% endif %}
                        {% if n.github_link.size > 0 %}
                        [<a href="{{ n.github_link }}" target="_blank">github</a>]
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

