---
layout: page
title: CI CoE Pilot - Videos
permalink: /materials/videos
---

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 space">
                <div class="section-title">
                    <h2>Videos</h2>
                </div>
                <div class="material" style="padding-top: 2em">
                    {% if site.data.videos.size > 0 %}
                    {% for n in site.data.videos %}
                    <a name="{{ n.youtube_id }}"></a>
                    <div class="material-video col-md-12 col-sm-12">
                        <div class="material-video-l col-md-6 col-sm-6">
                            <h3>{{ n.title }}</h3>
                            <p>{{ n.desc }}</p>
                        </div>
                        <div class="material-video-r col-md-6 col-sm-6">
                            <iframe width="540" height="315" src="https://www.youtube.com/embed/{{ n.youtube_id }}"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
