---
layout: page
title: CI CoE Pilot - Workshops
permalink: /materials/workshops
---

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h1>Workshops</h1>
                </div>
                {% if site.data.workshop.size > 0 %}
                {% for n in site.data.workshop %}
                <div class="col-md-12 col-sm-12">
                    <div class="workshop">
                        <h1><a href="{{ n.website }}" target="_blank">{{ n.title }}</a></h1>
                        {{ n.date }}, {{ n.location }}
                    </div>
                    {% if n.materials %}
                    <div class="workshop-materials">
                        <strong>Materials:</strong>
                        <ul>
                            {% for m in n.materials %}
                            <li><a href="{{ m.link }}" target="_blank">{{ m.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

