<!-- footer Start -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p style="text-align: left; font-weight: bold">
                    <i class="ion-android-mail"></i> Contact:
                    <a href="mailto:cicoe-pilot@isi.edu">cicoe-pilot@isi.edu</a>
                </p>
                <div>
                    <ul style="list-style: none" class="inst">
                        <li>
                            <a href="https://isi.edu" target="_blank">
                                <img src="/img/usc-isi-logo.png" style="max-height: 3em"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://renci.org" target="_blank">
                                <img src="/img/renci-logo.png" style="max-height: 2.5em"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://nd.edu" target="_blank">
                                <img src="/img/nd-logo.png" style="max-height: 2.5em"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://utah.edu" target="_blank">
                                <img src="/img/utah-logo.png" style="max-height: 2em"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://iu.edu" target="_blank">
                                <img src="/img/iu-logo.png" style="max-height: 2.5em"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <p style=" text-align: left; line-height: 1.2em">
                    <strong>&copy;2019-{{ 'now' | date: "%Y" }}. CI CoE Pilot. All rigths reserved.</strong><br/>
                    <span style="font-size: 0.9em">
                    This project is being supported by the National Science Foundation
                    Office of Advanced Cyberinfrastructure in the Directorate for
                    Computer and Information Science and Engineering and the Division
                    of Emerging Frontiers in the Directorate for Biological Sciences Under Grant
                    <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1842042" target="_blank">#1842042</a>.
                    </span>
                </p>
            </div>
        </div>
    </div>
</footer>
