<!-- footer Start -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
<!--                <div class="footer-manu">-->
<!--                    <ul>-->
<!--                        <li><a href="#">About Us</a></li>-->
<!--                        <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>-->
<!--                        <li><a href="#">How it works</a></li>-->
<!--                        <li><a href="{{ site.baseurl }}/blog">Blog</a></li>-->
<!--                        <li><a href="#">Terms</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
                <p>
                    This project is being supported by the Office of Advanced Cyberinfrastructure in the Directorate for
                    Computer and Information Science and Engineering and the Division of Emerging Frontiers in the
                    Directorate for Biological Sciences Under Grant
                    <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1842042" target="_blank">#1842042</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
