<!-- footer Start -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p style="text-align: left">
                    <i class="ion-android-mail"></i> Contact:
                    <a href="mailto:cicoe-pilot@isi.edu">cicoe-pilot@isi.edu</a>
                </p>
                <p style="line-height: 1em; text-align: left; font-size: 0.8em">
                    <i>Collaboration between:</i><br/>
                    University of Southern California<br/>
                    University of North Carolina at Chapel Hill<br/>
                    University of Notre Dame<br/>
                    University of Utah<br/>
                    Indiana University
                </p>
            </div>
            <div class="col-md-8">
                <p style="padding-left: 1em; text-align: left">
                    &copy; 2019-{{ 'now' | date: "%Y" }}. CI CoE Pilot. All rigths reserved.<br/>
                    This project is being supported by the National Science Foundation
                    Office of Advanced Cyberinfrastructure in the Directorate for
                    Computer and Information Science and Engineering and the Division
                    of Emerging Frontiers in the Directorate for Biological Sciences Under Grant
                    <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1842042" target="_blank">#1842042</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
