<!-- Header Start -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- header Nav Start -->
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/index.html">
                                <img src="{{ site.baseurl }}/img/cicoe-logo-horizontal.png" width="200" alt="Logo">
                            </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ site.baseurl }}/nsf_large_facilities">NSF Major Facilities</a></li>
                                <li class="dropdown"><a href="{{ site.baseurl }}/materials" class="dropdown-toggle"
                                                        data-toggle="dropdown" role="button" aria-haspopup="true"
                                                        aria-expanded="false">Materials</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ site.baseurl }}/materials/presentations">Presentations</a></li>
                                        <li><a href="{{ site.baseurl }}/materials/videos">Videos</a></li>
                                        <li><a href="{{ site.baseurl }}/materials/deployments_software">Deployments and
                                            Software</a></li>
                                        <li><a href="{{ site.baseurl }}/materials/templates">Templates</a></li>
                                        <li><a href="{{ site.baseurl }}/materials/community_engagements">Community
                                            Engagements</a></li>
                                        <li><a href="{{ site.baseurl }}/materials/workshops">Workshops</a></li>
                                        <li><a href="{{ site.baseurl }}/materials/publications">Publications</a></li>
                                        <li><a href="{{ site.baseurl }}/materials/projects">Relevant Projects</a></li>
                                        <li><a href="{{ site.baseurl }}/materials/library">Library</a></li>
                                        <li><a href="{{ site.baseurl }}/materials/press">Press</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ site.baseurl }}/events">Events</a></li>
                                <li><a href="{{ site.baseurl }}/working_groups">Working Groups</a></li>
                                <li><a href="{{ site.baseurl }}/people">People</a></li>
                                <li><a href="{{ site.baseurl }}/mailinglists">Mailing Lists</a></li>
                                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
        </div>
    </div>
</header><!-- header close -->

<!-- Slider Start -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="block">
                    <h1 class="animated fadeInUp">NSF PILOT STUDY</h1>
                    <p class="animated fadeInUp">Cyberinfrastructure Center of Excellence</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="covid-button" onclick="location.href='/covid-19';">
    COVID-19
</div>